.about {
    margin-top: 10%;
    color: #1e1e1e;
    background-color: #f9f9f9;
    position: relative;
}

.wrapper {
    display: flex;
    text-align: left;
}

.content {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

span {
    font-size: 24px;
    font-weight: 950;
    letter-spacing: 1px;
}

pp {
    max-width: 75%;
}

.faq {
    display: flex;
}

.faq h1 {
    left: 0;
    bottom: 0;
    font-size: 48px;
    font-weight: 950;
    letter-spacing: 1px;
    display: inline-block;
}

.faq span, .info {
    font-size: 12px;
    width: 20%;
    height: 350px;
    padding-left: 10px;
}

.faq h3 {
    display: inline;
}

.faq.visible img {
    transform: rotate(180deg);
    display: inline;
}

.faq.hidden img {
    visibility: visible;
    display: inline;
}

.visible {
    visibility: visible;
}

.hidden {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.faq h3 {
    position: relative;
    bottom: 0;
}
