/* ================================
    PAGE GLOBALE : HTML & BODY
    Scrollbar masquée + structure de base
================================ */

html {
    scroll-behavior: smooth;
}  

html, body {
    width: 100%;
    /* overflow-x: hidden; */
    max-width: 100vw;
    overflow-x: clip; /* Moins de bug que hidden godbless */

    /* Masquer les scrollbars */
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE & Edge */
}

body{
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track {
    background-color: transparent;
}  

/* ================================
    FONT PERSONNALISE
================================ */

@font-face {
    font-family : Necto Mono;
    src: url(fonts/NectoMono-Regular.otf);
}

/* ================================
    STRUCTURE PRINCIPALE : .App
    Application React Squid Head
================================ */

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: "Necto Mono", monospace;
}

/* ================================
    HEADER FIXE : .header
    Menu sticky avec boutons
================================ */

.header-mask {
    display: flex;
    position: fixed;
    width: 100%;
    height: 55px;
    z-index: 99;
    background-color: white;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    width: calc(100% - 30px);
    height: 40px;
    padding: 0 5px;
    margin: 15px;
    background-color: #f8f8f8;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    animation: fadeInUpApp 1.9s ease both;
    animation-delay: 3s;
}

/* Boutons du header */
.header button {
    margin: 0;
    padding: 7px 6.5px;
    border: none;
    background: none;
    font-size: 16px;
    transition: all 0.1s ease;
    font-family: "Necto Mono", monospace;
}

.header-left {
    text-align: left;
}

.header-right {
    cursor: pointer;
    text-align: right;
    color: #c14bff;
}

.header-right:hover {
    border: 1px solid #c14bff;
    background-color: transparent;
    transform: scale(1.025);
}

/* ================================
    SECTION : .section
    Logo + Titre de page
================================ */

.section {
    display: flex;
    position: fixed;
    flex-direction: row;
    z-index: 100;
    width: 100%;
    height: 100px;
    margin-top: calc( 42px + 15px );
    padding-top: 30px;
    padding-left: 30px;
    background-color: #f8f8f8;
    animation: fadeInUpApp 1.9s ease both;
    animation-delay: 3s;
}

/* Logo */
.section-image {
    width: 51px;
    height: 65px;
    margin: 0 10px;
    object-fit: contain;
    flex-shrink: 0;
}

/* Titre */
.section-title {
    height: calc(100% - 12px);
    margin: 0;
    padding-top: 4px;
    padding-left: 35px;
    color: #0d0d0d;
    font-size: 40px;
    align-items: center;
}

@keyframes fadeInUpApp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ================================
    FOOTER FIXE : .footer
    Bas de page avec bouton
================================ */

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    justify-content: flex-end;
    padding: 0;

    animation: fadeInUpApp 1.9s ease both;
    animation-delay: 3s;
}

.footer-title {
    background-color: #c14bff;
    color: white;
    border: none;
    padding: 5px 25px;
    font-size: 9px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-title:hover {
    transform: translateY(-1.6px) scale(1.12);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* ================================
    DEBUG :
================================ */

* {
    outline: 1px solid red;
}

/* * {
    background-color: rgba(0, 128, 255, 0.05);
} */

/* div       { background: rgba(255, 0, 0, 0.05); } */
/* section   { background: rgba(0, 255, 0, 0.05); } */
/* header    { background: rgba(0, 0, 255, 0.05); } */
/* footer    { background: rgba(255, 255, 0, 0.05); } */
/* main      { background: rgba(255, 0, 255, 0.05); } */
