/* ================================
    STRUCTURE PRINCIPALE : .basket
    Structure principale de la page
================================ */

.basket {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    border-top: 1px solid black;
}

/* ================================
    BLOC ARTICLES : .basket-rows
    Liste des articles du panier
================================ */

.basket-rows {
    display: flex;
    flex-direction: column;
    width: 54.5%;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 85px;
}

/* ================================
    ARTICLE : .article
    Article du panier
================================ */

.article {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 120px;
    border-bottom: 1px solid black;
}

/* Article Images*/
.article-image {
    width: 154px;
    height: 176px;
    position: absolute;
    top: 0;
    left: 0;
}

.image {
    width: 100px;
    height: 136px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.labeled-price {
    width: 70px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

/* Article Information */
.article-information {
    width: 870px;
    height: 180px;
    margin-left: 5%;
    position: absolute;
    top: 0;
    right: 0;
}

.article-title {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.article-delivery-description {
    width: 100%;
    margin: 5px 0;
    font-size: 10px;
    color: black;
}

/* Icon incrementator*/
.article-icon {
    display: flex;
    gap: 5px;
}
  
.article-icon img {
    width: 17px;
    height: 20px;
}
  
.article-icon p {
    width: 100%;
    margin: 0;
    font-size: 14px;
}

/* ================================
    INCRÉMENTATEUR : .article-incrementator
    Boutons d'ajout et de retrait d'articles
================================ */

.article-incrementator {
    width: min-content;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
  
.article-add, .article-remove {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0 2px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #c14bff;
    color: #c14bff;
    font-size: 16px;
    cursor: pointer;
}

/* Prix */
.article-price {
    width: min-content;
    position: absolute;
    top: 62%;
    right: 0;
    margin: 0;
    text-align: right;
    font-size: 23px;
    font-weight: 400;
}

/* ================================
    ORDER SUMMARY : .order-summary
    Résumé des prix des articles panier
================================ */

.order-summary {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 34px;
    right: 0;
    width: 420px;
    height: 200px;
    margin-left: 12px;
    border: 1px solid #000;
}

/* Titre */
.order-summary .title {
    background-color: #000;
    color: white;
    padding: 8px 11px;
    font-size: 19px;
    font-weight: 200;
    line-height: 1.2;
    text-transform: uppercase;
}

/* Details */
.order-summary .details {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 15px 20px;
    font-size: 18.25px;
}

.amount-row, .delivery-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 18.25px;
    text-align: left;
}
  
.total-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
}

/* Prix */
.value {
    font-size: 19px;
    font-weight: 500;
    color: #c14bff;
}
  
.total-value {
    font-size: 26px;
    font-weight: 400;
    color: #c14bff;
}

/* Bouton passer à la suite */
.order-button {
    width: 100.5%;
    padding: 21px 12px;
    position: relative;
    left: -1px;
    background-color: white;
    color: #c14bff;
    border: 1px solid #c14bff;
    text-align: center;
    font-size: 13.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}
  
.order-button:hover {
    background-color: #c14bff;
    color: white;
}