/* ================================
    PAGE : Item
================================ */
.home {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    border-top: 1px solid #f8f8f8;
}


  
/* ================================
    VITRINE : .showcase
================================ */
.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 190px 0 235px;
}

/* ================================
    ITEM VITRINE : .item
================================ */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1290px;
    height: 527px;
    overflow: visible;
    transition: all 0.1s ease;
}
  
/* ================================
    IMAGE VITRINE : .shadow-image
================================ */
.shadow-image {
    display: inline-block;
    position: relative;
    perspective: 1000px;
    transform-origin: center;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.13));
    transition: transform 0.2s ease-out;
}
  
.item img {
    width: 328px;
    height: 437px;
    object-fit: cover;
    border: none;
    opacity: 0;
    clip-path: inset(0 0 100% 0);
    transform: translateY(30px) scale(0.95);
    filter: blur(15px);
    animation:
        fadeInImage 1.2s ease-out forwards,
        revealClip 1.5s ease-out forwards,
        clearBlur 1.2s ease-out forwards;
    transition: clip-path 1.5s ease-out;
}
  
/* ================================
    BOUTON AJOUT PANIER : .item-button
================================ */
.item-button {
    width: 200px;
    height: 50px;
    margin-top: 40px;
    border: none;
    background-color: #c14bff;
    color: white;
    font-size: 16px;
    font-family: "Necto Mono", monospace;
    cursor: pointer;
    clip-path: inset(0 0 100% 0);
    animation: revealClipButton 1.25s 1.5s forwards;
    transition: transform 0.1s ease;
}
  
.item-button::before {
    content: "J'AIME BIEN!";
}
  
.item-button:hover {
    background-color: white;
    color: #c14bff;
    border: 1px solid #c14bff;
    transform: scale(1.05);
}
  
.item-button:hover::before {
    content: attr(price);
    transition: all 0.6s ease;
}
  
/* ================================
    DESCRIPTION VITRINE : .item-description
================================ */
.item-description-border {
    width: 0;
    position: absolute;
    top: 0;
    left: 809px;
    border-top: 1px solid black;
    animation: drawBorder 1.25s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    animation-delay: 1.25s;
    transition: transform 0.2s ease-out;
}
  
.item-description {
    width: calc(500px - 8px - 26px);
    padding: 0px 0px 0px 20px;
    font-size: 16px;
}
  
.item-description p {
    width: 100%;
    text-align: left;
    line-height: 1.25;
    opacity: 0;
    font-style: normal;
    animation: slideIn 0.75s ease 2s forwards;
}



  
/* ================================
    GALERIE : .gallery
================================ */
.gallery {
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    animation: fadeInUpGallery 1.25s ease both;
    animation-delay: 1s;
}
  
.gallery-container {
    margin: 0px 15px;
    margin-top: 150px;
}
  
.gallery-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
}

.gallery-thumbnail {
    width: 25%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border: 1px solid #e2e2e2;
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1; /* carré */
    overflow: hidden;
    position: relative;
    border: 1px solid #e2e2e2;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    background-image: ;
}
  
.gallery-image {
    width: 100%;
    height: 100%;
    /* width: 270px;
    height: 345px; */
    object-fit: cover;
    max-width: 240px;
    border: none;
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */
}

.description-wrapper{
    height: calc(100px - 20px);
    /* padding: 12px; */
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
    background-color: #fff;
    text-align: left;
}
  
.gallery-title {
    margin-top: 11px;
    font-size: 18px;
    color: #333;
    width: 100%;
    display: block;
    transition: color 0.3s ease;
    font-weight: bold;
}

.gallery-description{
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #000000;
    margin-bottom: 11px;
}

.gallery-note {
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    font-size: 12px;
    color: #000000;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
  }
  
.gallery-label {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #000000;
    padding-top: 8px;
}
  
/* .gallery-thumbnail:hover .gallery-title {
    color: #000;
    transform: translateY(0.6px);
} */

/* ================================
    LOGO : .gallery-logo
================================ */

.gallery-logo {
    margin-top: 105px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-logo-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
  
/* ================================
    BAS DE PAGE : .gallery-text
================================ */
.gallery-phrase {
    width: 100%;
    /* margin-top: 360px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 40px 20px; */
    background-color: white;
}

.gallery-phrase p {
    font-size: 12px;
    color: black;
    margin: 10px 0;
    line-height: 1.6;
    max-width: 1600px;
    opacity: 0.6;
}

.gallery-text {
    width: 100%;
    /* margin-top: 360px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 40px 20px; */
    background-color: #dededec8;
}

.gallery-text p {
    font-size: 12px;
    color: black;
    margin: 10px 0;
    line-height: 1.6;
    max-width: 1600px;
    opacity: 0.6;
}
  
.gallery-text-image {
    width: 80px;
    height: auto;
    margin: 20px 0;
}
  
/* ================================
    ANIMATIONS
================================ */
@keyframes fadeInImage {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
  
@keyframes revealClip {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
  
@keyframes clearBlur {
    from {
        filter: blur(15px);
    }
    to {
        filter: blur(0);
    }
}
  
@keyframes revealClipButton {
    from {
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }
    to {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}
  
@keyframes drawBorder {
    from {
        width: 0;
    }
    to {
        width: 481px;
    }
}
  
@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
/* @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

@keyframes fadeInUpGallery {
    from {
      opacity: 0;
      transform: translateY(75px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
/* ================================
    SURVOL SYNCHRO VITRINE
================================ */
  
.zoom-box:hover .shadow-image,
.zoom-box:hover .item-description-border {
    transform: translateY(-3.4px);
}
  
.zoom-box:hover .item-description {
    transform: translateX(0);
}